{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Phone</th>
				</tr>
				{% for j in Customers %}
				<tr>
					<td><a href="{% url 'customer' j.id %}">View</a> </td>
					<td>{{j.name}}</td>
					<td>{{j.phone}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for i in Orders %}
				<tr>
					<td>{{i.product.name}}</td>
					<td>{{i.date_created}}</td>
					<td>{{i.status}}</td>
					<td><a href="{% url 'update_order' i.id  %}">Update</a> </td>
					<td><a href="{% url 'delete_order' i.id  %}">Delete</a> </td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}